#contentAbout{
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh 3vh 0 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.644);
}

/* WebKit browsers (Chrome, Safari) */
#contentAbout::-webkit-scrollbar {
    width: 0;
}


#contentAbout::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

#contentAbout::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.heading-1{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', 'Arial', 'Tahoma';
    font-weight: 800;
    font-size: clamp(1.5em, 1.75vw, 5rem);
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    text-align: left;
    align-self: flex-start;
}

.imgWordmark{
    max-width:20%;
    aspect-ratio: 2.25/1;
}

#contentAbout p{
    font-family: 'Helvetica Neue', 'Verdana';
    padding:2vw 4vw;
    font-size: clamp(0.75rem, 0.9vw, 2rem);
    padding-left: 2vw;
    text-align: left;
    align-self: flex-start;
}

.photo1{
    max-width: 50vw;
    margin-bottom: 1vw;
}