*{
    font-family: 'Helvetica Neue';
}

#contactDiv{
    padding: 0;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4vw;
    border-radius: 3vh 3vh 0 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.644);
}

#separator{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}


#contactForm{
    width:50%;
    align-items: center;
    margin: 2vw;
    padding-right: 2vw;
}

#contactForm label{
    padding: 1vw 0;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    
}

#submitBtn{
    border-radius: 2vh;
    padding:0.5vw 1vw;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: clamp(1em, 1vw, 3em);
    display: flex;
    align-items: center;
    border: none;
    margin-top: 5vh;
}

#submitBtn:hover{
    background-color: rgba(0, 0, 0, 0.356);
    border: none;
    color: white;
}

.line{
    height: 100%;
    border: solid black 0.1vw;
    width: 0%;
}

#socials{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#socials a{
    text-decoration: none;
    color: inherit;
    padding:.75vh 1.25vw;
    transition: background-color 0.5s ease-in-out;
    font-family: 'Montserrat';
    font-size: clamp(1em, 1.5vw, 3em);
}

#socials svg{
    margin: 0 1vw;
}

#socials a:hover{
    background-color: white;
    color:black;
}