/* WebKit browsers (Chrome, Safari) */
#partnerDiv::-webkit-scrollbar {
    width: 0;
}

#partnerDiv::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

#partnerDiv::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

#partnerDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh 3vh 0 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.644);
}

#partnerDiv .heading-1 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', 'Arial Black', 'Tahoma';
    font-weight: 800;
    font-size: clamp(1.5em, 1.75vw, 5rem);
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    text-align: left;
    align-self: flex-start;
}

#partnerDiv p {
    padding: 0 2vw;
    text-align: left;
    align-self: flex-start;
    font-size: clamp(0.75rem, 0.9vw, 2rem);
}

#partnerDiv #separator {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#partnerForm {
    align-items: center;
    margin: 0 2vw;
    padding: 0;
}

#partnerForm label {
    padding: 1vw 0;
    font-family: 'Helvetica Neue', 'Verdana';
    font-weight: 400;
    font-size: clamp(0.75rem, 1vw, 2rem);
    align-self: flex-start;
}

#partnerForm input {
    font-family: 'Helvetica Neue', 'Verdana';
    font-size: clamp(0.75rem, 1vw, 2rem);
}


#partnerForm .form-check-label {
    font-weight: 300;
    font-size: clamp(0.75rem, 1vw, 2rem);
    padding: 0 0 !important;
}

#partnerForm #dataPrivacyLabel {
    font-family: 'Helvetica Neue', 'Verdana';
    font-weight: 400;
    font-size: clamp(0.75rem, 0.75vw, 2rem) !important;
}

#partnerForm #dataPrivacyBtn {
    font-family: 'Helvetica Neue', 'Verdana';
    font-weight: 400;
    font-size: clamp(0.75rem, 0.75vw, 2rem);
}

#partnerForm textarea {
    height: 10vh;
    resize: none;
    font-family: 'Helvetica Neue', 'Verdana';
    font-size: clamp(0.75rem, 1vw, 2rem);
    margin-bottom: 1vw;
}

#partnerForm #submitBtn {
    border-radius: 2vh;
    padding: 0.5vw 1vw;
    font-weight: 500;
    font-family: 'Montserrat', 'Arial', 'Tahoma';
    font-size: clamp(0.75rem, 1vw, 2rem);
    display: flex;
    align-items: center;
    border: none;
    margin: 1vh 0;

}

#submitBtn:hover {
    background-color: rgba(0, 0, 0, 0.356);
    border: none;
    color: white;
}


.email-highlight {
    display: inline-flex;
    align-items: center;
    border-radius: 0.5vh;
    transition: background-color 0.5s ease-in-out;
    font-family: 'Montserrat', 'Arial', 'Tahoma';
    font-size: clamp(0.75rem, 0.9vw, 2rem);
    margin-left: 0.5vw;
}

.email-highlight:hover {
    background-color: #555;
    border: none;
    color: white;
}

@media (max-width: 1000px){

    #partnerDiv .heading-1{
        margin-top: 2vh;
    }
    
    #partnerDiv #separator {
        flex-direction: column;
    }

    #partnerForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #partnerForm #submitBtn {
        padding: 1vh 2vh;
    }
}

@media (max-width: 400px){
    #partnerDiv #separator {
       padding:0 1vh;
    }
}