/* WebKit browsers (Chrome, Safari) */
#contentMerch::-webkit-scrollbar {
    width: 0;
}


#contentMerch::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

#contentMerch::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

#contentMerch{
    display: flex;
    flex-direction: column;
    height:100%;
    border-radius: 3vh 3vh 0 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.644);
    align-items: center;
}

#pMerch{
    padding-left: 2vw;
    font-size: clamp(0.75rem, 0.9vw, 2rem);
    align-self: flex-start;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-temp{
    width: 20%;
    aspect-ratio: 3/5;
    margin: 2vw;
    overflow: hidden;
    border-radius: 0.5vw;
    border: 0.01vw solid rgb(51, 51, 51);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    padding: 1vw;
    color:rgb(0, 0, 0);
}

.card img{
    padding:1vw;
    border-radius: 1vw;
}

.card-body{
    background-color: transparent;
    border-radius: 0;
}

.card-title{
    margin-top:0.5vw;
}

.card-subtitle{
    font-weight: 300;
    padding:0.25vw 0;
}

#merchBtnContainer {
    display: flex;
    justify-content: center;
}

#merchBtn{
    background-color: rgb(199, 199, 199);
    border: 1px solid black;
    border-radius: 0.75vw;
    padding: 0.5vw 1.5vw;

}

#merchBtn:hover{
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
}