/* WebKit browsers (Chrome, Safari) */
#contentProduct::-webkit-scrollbar {
    width: 0;
}


#contentProduct::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

#contentProduct::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

#contentProduct{
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh 3vh 0 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.644);
}

.heading-1{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', 'Arial', 'Tahoma';
    font-weight: 800;
    font-size: clamp(1.5em, 1.75vw, 5rem);
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    text-align: left;
    align-self: flex-start;
}

#contentProduct a{
    margin:0 1vw 0 0;
    text-decoration: none;
    color: inherit;
}

#productImg{
    max-width: 25vw;
    width: 75%;
    margin-bottom: 1vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
}

#contentProduct h2{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', 'Arial', 'Tahoma';
    font-weight: 500;
    font-size: clamp(.5em, 1.25vw, 5rem);
    border-radius: 0.5vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
    padding:0.5vw 1.75vw;
    margin-bottom: 1vw;
}

#contentProduct ul{
    width: 100%;
    padding: 0 2vw 2vw;
    align-self: flex-start;
}